### 판다스 (pandas)
데이터를 관리하기 위한 모듈로, 시리즈와 데이터 프레임을 제공함

In [4]:
# 모듈 불러오기
# 넘파이 모듈을 np라고 부른다
import numpy as np
# 넘파이 모듈을 pd라고 부른다
import pandas as pd

### 4.1 시리즈 (series)
<small>
데이터를 한줄로 담는 자료 구조<br>
리스트와 다른 점은 데이터에 이름표를 붙일 수 있다 (index)
/<small>

In [3]:
# 시리즈 생성
# 인덱스가 자동으로 설정됨(0~3)
# 시리즈의 인덱스 확인
s = pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

데이터 프레임에서 계산과 처리

In [7]:
# 학생 성적 데이터 만들기
data = np.array([ [60,70,80],[70,80,90],[80,90,10] ])
# 성적데이터를 담아서 프레임 생성
df = pd.DataFrame(data,
                  index=['둘리','또치','도우너'],
                  columns=['국어','영어','수학'])
df

     국어  영어  수학
둘리   60  70  80
또치   70  80  90
도우너  80  90  10

In [12]:
# 국어 과목만 조회
df['국어']
# 국어과목에 담겨있는 값은 자료형
df['국어'].dtype
# 국어과목의 자료 구조
type(df['국어'])
# 데이터프레임은 여러 시리즈의 묶음

pandas.core.series.Series

In [15]:
# 전체 점수에 1점씩 더하기
# 데이터 프레임 전체 데이터에 더하기가 적용됨
df + 1
# 국어점수만 10점씩 더하기
df['국어'] +10

둘리     70
또치     80
도우너    90
Name: 국어, dtype: int64

In [18]:
# 조건검색 (국어점수가 70점 이상인 학생만 찾기)
df['국어'] >= 70
# 프레임에 bool 배열을 인덱슬 사용
df[df['국어'] >= 70]

     국어  영어  수학
또치   70  80  90
도우너  80  90  10