In [2]:
import pandas as pd
s = pd.Series([5,10,15,20])
print(s)
# 시리즈 생성시 인덱스를 따로 설정하지 않으면
# 자동으로 생성된다

0     5
1    10
2    15
3    20
dtype: int64

In [3]:
import pandas as pd
# pd.Series(값, 목록, [인덱스])
s = pd.Series([2,4,6,8])
print(s)

0    2
1    4
2    6
3    8
dtype: int64

In [5]:
# 시험 점수 데이터 만들기
# pd.Series(값,[인덱스])
s = pd.Series( [70,80,90], index=['국어', '영어','수학'])
s

국어    70
영어    80
수학    90
dtype: int64

In [6]:
# 국어 점수 조회
s['국어']

np.int64(70)

In [8]:
# 수학 점수 75로 바꾸기
s.loc['수학'] = 75
s

국어    70
영어    80
수학    75
dtype: int64

In [9]:
# 계절 평균 기온 데이터 만들기
s = pd.Series( [15,27,18], index=['봄', '여름','가을'])
s

봄     15
여름    27
가을    18
dtype: int64

In [10]:
# 봄 기온을 조회하세요
s['봄']

np.int64(15)

In [11]:
# 가을 기온을 20으로 수정
s['가을'] = 20
s

봄     15
여름    27
가을    20
dtype: int64

In [12]:
# 일별 매출 데이터 만들기
s = pd.Series([1000,1200,1300], index=['01-01', '01-02', '01-03'])
s

01-01    1000
01-02    1200
01-03    1300
dtype: int64

In [13]:
# 1월 1일 매출을 조회하세요
s['01-01']

np.int64(1000)

In [15]:
# 1월 2일 매출을 1250으로 수정하세요
s.loc['01-02'] = 1250
s

01-01    1000
01-02    1250
01-03    1300
dtype: int64

In [16]:
# 요일별 매출 데이터 만들기
s = pd.Series([300,400,500], index = ['월', '화', '수'])
s

월    300
화    400
수    500
dtype: int64

In [17]:
# 화요일 매출 조회
s.loc['화']

np.int64(400)

In [18]:
# 수요일 매출 550으로 수정
s['수'] = 550
s

월    300
화    400
수    550
dtype: int64

In [22]:
data = { "name" : ['철수', '영희', '민수'], 
         "score" : [85, 90,78]}
# 데이터를 담아서 데이터 프레이 생성
df = pd.DataFrame(data)
df
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=3, step=1)
Index(['name', 'score'], dtype='object')

In [21]:
# 요일별 매출 데이터
data = { "day" : ['월', '화', '수'], 
         "sales" : [1000,1200,900]}
df = pd.DataFrame(data)
df

  day  sales
0   월   1000
1   화   1200
2   수    900

In [25]:
# 과일 판매량 데이터 만들기(dic 또는 list)
data = np.array([ [30,10],[40,20] ])
data
# 데이터를 담아서 프레임 생성
df = pd.DataFrame(data, 
                 index=['사과','배'],
                        columns=['판매량', '재고'])
df

    판매량  재고
사과   30  10
배    40  20

In [30]:
# 사과 판매량
df.loc['사과','판매량']

# 새로운 열 '가격'을 추가하고, 사과는 1000월,배는 1200원으로 입력
df.insert(2, '가격', [1000, 1200])
df

    판매량  재고    가격
사과   30  10  1000
배    40  20  1200

In [31]:
# 도시 데이터 만들기
data = np.array([ [950, 1200],[500,800] ])
data
df = pd.DataFrame(data, 
                 index=['서울', '부산'],
                        columns=['인구','면적'])
df

     인구    면적
서울  950  1200
부산  500   800

In [33]:
# 서울 면적 조회
df.loc['서울','면적']

# 새로운 열 '특산물' 추가, 서울은 '김치', 부산은 '어묵'으로 입력
df.insert(2, '특산물', ['김치','어묵'])
df

     인구    면적 특산물
서울  950  1200  김치
부산  500   800  어묵

In [38]:
# 도서 데이터 만들기
data = np.array([ [15000,'홍길동전'],[20000,'해리포터'] ])
data
df = pd.DataFrame(data, 
                 index=['책1','책2'],
                        columns=['가격','제목'])
df

       가격    제목
책1  15000  홍길동전
책2  20000  해리포터

In [39]:
# 책2의 가격 조회
df.loc['책2','가격']

# 새로운 열 '저자' 추가, 책1은 '허균', 책2는 'J.K. 롤링'으로 입력
# insert(위치, 컬럼, 리스트)
df.insert(1, '저자',['허균','J.K. 롤링'])
df

       가격       저자    제목
책1  15000       허균  홍길동전
책2  20000  J.K. 롤링  해리포터

In [43]:
# 영화 데이터 만들기
data = np.array([ [9.0,14000],[8.2,9500] ])
data
df = pd.DataFrame(data, 
                 index=['기생충','인터스텔라'],
                 columns=['평점','관객수'])
df

        평점      관객수
기생충    9.0  14000.0
인터스텔라  8.2   9500.0

In [44]:
# 기생충 평점 조회
df.loc['기생충','평점']

# '관객수'열 삭제
df['관객수']
del df['관객수']
df

        평점
기생충    9.0
인터스텔라  8.2

In [49]:
# 학생 점수 데이터 만들기
s = pd.DataFrame([80,90,75,85], index=['국어','영어','수학','과학'],)
s
# 자주 사용하는 통계 함수 : sum mean max min
# numpy의 배열, pandas의 시리즈와 데이터프레일 모두 사용 가능

     0
국어  80
영어  90
수학  75
과학  85

In [50]:
print('합계:', s.sum())
print('평균:', s.mean())
print('최고점수:', s.max())
print('최소점수:', s.min())

합계: 0    330
dtype: int64
평균: 0    82.5
dtype: float64
최고점수: 0    90
dtype: int64
최소점수: 0    75
dtype: int64

In [ ]:
# 요일별 기온 데이터
s = Series([2,5,-1,0,7,-3,4]

In [51]:
# 영화 데이터 만들기
data = np.array([ [12000,9.0],[8000,8.5],[15000,9.3] ])
# 프레임 생성
df = pd.DataFrame(data,
                  index=['기생충','인터스텔라','아바타'],
                  columns=['관객수','평점'])
df

           관객수   평점
기생충    12000.0  9.0
인터스텔라   8000.0  8.5
아바타    15000.0  9.3

In [57]:
# 모든 영화의 관객수에 1000명 추가
df['관객수'] + 1000

# 평점이 9.0 이상인 영화만 조회
df[df['평점']>=9.0]

         관객수   평점
기생충  12000.0  9.0
아바타  15000.0  9.3

In [71]:
# 상품 매출 데이터 만들기
data = np.array([ [25000,30000],[40000,15000] ])
# 프레임 생성
df = pd.DataFrame(data,
                  index=['치마','바지'],
                  columns=['1월 매출','2월 매출'])
df

    1월 매출  2월 매출
치마  25000  30000
바지  40000  15000

In [78]:
# 새로운 열 '합계'를 추가하여 1월과 2월 매출의 합을 구하세요.
# 1월 매출
print(df['1월 매출'])
# 2월 매출
print(df['2월 매출'])
# 합
# Series + Series
# 시리즈끼리 더하면, 인덱스를 기준으로 합계가 나옴
print(df['1월 매출'] + df['2월 매출']) # 결과는 시리즈
print(df['1월 매출'].index)
print(df['2월 매출'].index)
# 새로운 열 추가
df['합계'] = df['1월 매출'] + df['2월 매출']
df

# '합계'를 만원 단위로 바꾼 새로운 열 '합계(만원)'을 추가하세요.
df['합계(만원)'] = df['합계']/10000
df

치마    25000
바지    40000
Name: 1월 매출, dtype: int64
치마    30000
바지    15000
Name: 2월 매출, dtype: int64
치마    55000
바지    55000
dtype: int64
Index(['치마', '바지'], dtype='object')
Index(['치마', '바지'], dtype='object')

    1월 매출  2월 매출     합계  합계(만원)
치마  25000  30000  55000     5.5
바지  40000  15000  55000     5.5

In [ ]:
#